
#light{
  --bg-color:#f9e8d9;
  --card-color: #fcae617b;
  --text-color:#56025e;
  --btn-color: #790384c6;
}
#dark{
  --bg-color:#1a1a1a;
  --card-color: #86858529;
  --text-color:#FFFBFB;
  --btn-color: #ff82bef8;
}

input{
  border: none;
    outline: none;
    background: none;
    color: var(--text-color);
}

button{
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}
