
#light{
  --bg-color:#f9e8d9;
  --card-color: #fcae617b;
  --text-color:#56025e;
  --btn-color: #790384c6;
}
#dark{
  --bg-color:#1a1a1a;
  --card-color: #86858529;
  --text-color:#FFFBFB;
  --btn-color: #ff82bef8;
}


.mainWrap{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  transition-duration: 500ms;
}
.headingWrap{
  display: flex;
  align-items: center;
  height: 3.5em;
}
.heading{
  color:var(--text-color);
  margin-right: 0.5em;
  font-size: 1.7em;
}
button{
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.menu-open{
  overflow: hidden;
}
@media (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }
}