.cardWrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 5em);
    align-items: center;
    padding: 1em 0 1em 0;
    z-index: 2;
  }
.card{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 0.4em;
    padding-left: 0.8em;
    align-items: center;
    max-width: 25em;
    width: 85%;
    background-color: var(--card-color);
    color: var(--text-color);
    border-radius: 8px;
    margin-top: 0.5em;
    transition-duration: 500ms;
}
.card_btn{
    padding-top: 5px;
    color: var(--btn-color);
    font-Size: 2.3em;
}
.card_btn:hover{
    cursor: pointer;
    scale: 1.2;
    transition: 200ms;
}
.card_btn_wrap{
    display: flex;
    min-width: 7.5em;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(245, 245, 220, 0.168); */
}
.Title{
    font-size: 1.4em;
}
