.navbar{
    color: var(--nav-txt-color);
    font-weight: bolder;
    font-size: 1em;
    position: sticky;
    top: 0;
    width: 100%;
    height: 3.5em;
    display: flex;
    z-index: 9;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: var(--nav-bg-color);
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
  }
  .ButtonsWrap {
    translate: -4.3em;
  }
  
  .navInnerWrap{
    padding-inline: 2em;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .rightBtn{
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  .hide{
    top: -3.5em;
  }

.switch {
    position: relative;
    width: 3.5em;
    height: 1.8em;
  }

  
  .slider {
    --light:  #FFFBFB;
    --dark: var(--btn-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark);
    transition: .5s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    left: 12%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px var(--light);
    background: var(--background);
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: var(--light);
  }
  
  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px var(--dark);
  }

  
.nav_btn{
  font-family: var(--font-family);
  margin: 1em;
  font-size: large;
  font-weight: 600;
  background: none;
  color: var(--nav-txt-color);
  width: fit-content;
  height: 1.5em;
  transition-duration: 500ms;
}

/* menu toggle button */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 1.6em;
  height: 2em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.35em;
  transition-duration: .5s;
  z-index: 99;
}

.bars {
  width: 100%;
  height: 0.15em;
  background-color: var(--btn-color);
  border-radius: 4px;
}

#bar2 {
  transition-duration: .8s;
}


.checked .bars {
  position: absolute;
  transition-duration: .5s;
}

.checked #bar2 {
  transform: scaleX(0);
  transition-duration: .1s;
}

.checked #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}

.checked #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}

.checked {
  transition-duration: .5s;
  transform: rotate(180deg);
}
@media (min-width: 800px) {
  .hide_on_bigScreen {
    display: none;
  }
}
@media (max-width: 800px) {
  .switch{
    scale: 0.9;
  }
  .hide_on_smallScreen {
    display: none;
  }
  .rightBtn{
    width: 6.3em;
  }
}
@media (max-width: 500px) {
  .navInnerWrap{
    padding-inline: 1em;
  }
  .rightBtn{
    width: 6.3em;
  }
}
