#light{
  --bg-color:#FAFAFA;
  --card-color: #8a4189b8;
  --text-color:#2D1717;
}
#dark{
  --bg-color:#1a1a1a;
  --card-color: #656565da;
  --text-color:#FFFBFB;
}

.mainWrap{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}
.cardWrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 1em 0 1em 0;
  z-index: 2;
}
.card{
  display: flex;
  padding-left: 1em;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  max-width: 20em;
  height: 2.5em;
  background-color: var(--card-color);
  color: var(--text-color);
  border-radius: 8px;
  margin-top: 0.5em;
}