#light{
  --bg-color:#FAFAFA;
  --ai-color:#FFD9D7;
  --human-color:#E9E9E9;
  --text-color:#2D1717;
}
#dark{
  --bg-color:#3c222d;
  --ai-color:#D07974;
  --human-color:#ffffff3b;
  --text-color:#FFFBFB;
}
.App {
  display: flex;
  justify-content: center;

}
.mainWrap{
  width:100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.cardWrap{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: var(--bg-color);
}
.card{
  display: flex;
  padding-left: 1em;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  max-width: 20em;
  height: 4em;
  background-color: aquamarine;
  border-radius: 8px;
  margin-top: 0.3em;
}